html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header{
    height: 54vh;
    width: 100%;
    position: relative;
    background-image: url(../img/zebra1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
h1{
    position: relative;
    top: 70px;
    width: 263px;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    font-family: 'Poller One', cursive;
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 37px;
}

header img{
    width: 60px;
    height: 60px;
    margin-left: 120px; 
}
h2{
    width: auto;
    background-color: white;
    color: black;
    font-family: 'Poller One', cursive;
    text-align: center;
}
h3{
    font-weight: 800;
    padding-top: 20px;
    text-align: center;
}
nav{
    height: 15vh;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
}
.sticky {
    position: fixed;
    top: 0;
}
ul{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
}
li{
    text-align: center;
    padding: 9px; 
}
a{
    text-decoration: none;
    color: white;
}
a :hover{
    cursor: pointer;

}

section{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    text-align: justify;
    line-height: 30px;
}
.musicien img{
    width: 204px;
    height: 158px;
    object-fit: contain;
    padding: 10px;
}

.agenda{
    text-align: center;
}

.concerts img{
    width: 100%;
}
.video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.affichesflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.affiches img{
    margin: 20px auto;
    width: 70%;
}
#flyer{
    width: 60%;
    margin: auto;
    padding-bottom: 60px;
}

/** TO TOP **/

#toTop { 
    display:none;
    position: fixed; 
    z-index: 2;
    bottom: 4px;
    right: 8px;
    cursor: pointer;
} 
#toTop img { 
    width: 40px; 
    height: 40px; 
}


@media screen and (min-width : 430px){
    body{
        background-image: url(../img/header3.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
    }

    .accueil{
        background-color: rgba(0, 0, 0, 0);
    }
}

@media screen and (min-width : 494px){
    li{
        width: 82px;
        text-align: center;
        padding: 10px; 
    }
    li :hover{
        padding: 8px;
        font-size: smaller; 
        border-left: solid 1px white;
        border-right: solid 1px white;
    }
    .bio{
        padding: 40px;
        color: white;
    }
}

@media screen and (min-width : 766px){
    #toTop{
        bottom: 74px;
        right: 30px;
    }
    header{
        height: 237px;
    }
    h1{
        width: 593px;
        top: 73px;
        padding : 5px 0;
        font-size: 46px;
    }
    nav{
        height: 8vh;
    }
    main{
        height: auto;
    }
    section{
        width: 45%;
        margin: auto;
        padding: 40px 80px;
    }
    .affichesflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    }
    .affiches img{
    margin: 20px auto;
    width: calc(80% / 2);
    }
    #flyer{
    width: 50%;
    margin: 20px auto;
    padding-bottom: 60px;
    }
}

@media screen and (min-width : 1020px){
    nav{
        height: 6vh;
    }
    h1{
        width: 870px;
        top: 64px;
        padding : 12px 0;
        font-size: 68px;
    }
    .musicien img{
        float: left;
    }
    .musicien p {
        padding: 10px;
        margin: 0;
    }
}